button {
    animation: wiggle 2s linear infinite;
  }
  
  /* Keyframes */
  @keyframes wiggle { 0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  
  
  
  
  button {
    position: relative;
    left: calc(5% - 2em);
    top: calc(50% - 3em);
    
    height: 4em;
    width: 9em;
    
    padding:5px;
    background:rgb(63, 53, 53);
    background: linear-gradient(top, #555, #333);
    border: none;
    border-top: 4px solid cyan;
    border-right: 3px solid cyan;
    border-radius: 0 0 0.2em 0.2em;
    color: #fff;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 1em;
    transform-origin: 50% 5em;
  }
  button a:hover{
      color:white;
  }
  button a:visited{
      color:white;
  }

  nav{
      padding:10px;
      font-size: 1.5em;
  }